{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Description</th>
                <th>Skills</th>
                <th>Date</th>
                <th>Time</th>
                <th>Price</th>
                <th>Sharecost</th>
                <th>Eventtype</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.category }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.skills }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.time | date('H:i') }}</td>
                <td>{{ entity.price }}</td>
                <td>{{ entity.shareCost }}</td>
                <td>{{ entity.eventType }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('event_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('event_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('event_i_will_attend', { 'eventId': entity.id }) }}">I'll Attend</a>
                    </li>
                    <li>
                        <a href="{{ path('comment_new', { 'eventId': entity.id }) }}">Make a comment</a>
                    </li>
                    <li>
                        <form action="{{ url('follow_event') }}" method="post">
                            <input type="hidden" name="event_id" id="event_id" value="{{ entity.id }}">
                            <input type="submit" value="Follow">
                        </form>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('event_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
