{% set user = app.user %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset="utf-8">
    <title>
        {% block title %}
            Events
        {% endblock %}
    </title>
    {% block styles %}

        {% block default_styles %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('public/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('public/plugins/morphSearch/morphsearch.css') }}">
            <link rel="stylesheet" href="{{ asset('public/plugins/perfect-scrollbar/perfect-scrollbar.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/css/base.css') }}">


        {% endblock %}

        {% block page_styles %}{% endblock %}

    {% endblock %}

    {% block init_scripts %}
        <script src="{{ asset('public/js/modernizr.js') }}"></script>
        <script src="{{ asset('public/js/rem.js') }}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('public/js/html5shiv.js') }}"></script>
        <script src="{{ asset('public/js/respond.min.js') }}"></script>
        <![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="topbar transparent-topbar">
    {% if app.user %}
        <a href="#" class="pull-right" id="profile">

            {% if user.profilepic %}
                <img src="{{ user.profilepic }}"/>
            {% else %}
                <img src="{{ asset('anonymous.png') }}"/>
            {% endif %}

            <span class="hs">Mi Perfil</span>
            <span class="caret-down"></span>
        </a>
    {% else %}
        <a data-toggle="modal" href="#rlogin-modal" class="pull-right">
            <span class="fa fa-user"></span>
            <span class="hs">Acceso</span>
        </a>
    {% endif %}

    <a data-toggle="modal" href="#upload-event-modal" class="pull-right">
        <span class="fa fa-plus"></span>
        <span class="hs">Sube un Evento</span>
    </a>

    <a href="#" class="pull-right" id="searchTop">
        <span class="fa fa-search"></span>
        <span class="hs">Busca tu Evento</span>
    </a>

</div>

{% if user %}
    <div id="morphsearch" class="morphsearch">
        <div class="morphsearch-content">
            <div class="dummy-column text-center">
                {% if not user %}
                    <img src="{{ asset('anonymous.png') }}"/>
                {% else %}
                    <img src="{{ user.profilepic }}" class="img-circle"/>
                {% endif %}


                {% if user %}
                    <h2 id="username">{{ user.profiledetails }}</h2>
                {% else %}
                    <h2>You shouldn't be watching this.</h2>
                {% endif %}
            </div>
            <div class="dummy-column">
                <a class="dummy-media-object" href="{{ url('fos_user_profile_show') }}">
                    <h3>
                        <span class="fa fa-user"></span>
                        Mi Perfil
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-users"></span>
                        Amigos
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-ticket"></span>
                        Mis tickets
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-map-marker"></span>
                        Mis eventos
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-info-circle"></span>
                        Notificaciones
                        <span class="badge">5</span>
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-bookmark"></span>
                        Gestión
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-dollar"></span>
                        Finanzas
                    </h3>
                </a>
                <a class="dummy-media-object" href="{{ url('fos_user_security_logout') }}">
                    <h3 id="exit">
                        <span class="fa fa-sign-out"></span>
                        Salir
                    </h3>
                </a>
            </div>
        </div>
        <span class="morphsearch-close"></span>
    </div>
{% endif %}
<div class="overlay"></div>

{% block body %}{% endblock %}

{% block footer %}
    <div class="row last">
        <div class="col-md-12">
            <div class="col-md-3 col-md-push-9 text-uppercase text-center">
                <h3 class="visible-xs visible-sm">necesita ayuda</h3>

                <div>
                    <div class="chat">
                        <img class="img-responsive" src="{{ asset('public/img/chat.png  ') }}">
                    </div>

                    <h4>pague seguro</h4>
                    <img src="{{ asset('public/img/9/paypal.png') }}" alt="">
                    <img src="{{ asset('public/img/9/cards.png') }}" alt="">
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3 words">
                <div class="col-sm-4 col-md-4 text-center" >
                    <a href="#"><p>Quiénes somos</p></a>
                    <a href="#"><p>Prensa</p></a>
                    <a href="#"><p>Contacto</p></a>
                    <a href="#"><p>Blog</p></a>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="#"><p>Acerca de</p></a>
                    <a href="#"><p>Política privacidad</p></a>
                    <a href="#"><p>Aviso legal</p></a>
                    <a href="#"><p>Condiciones uso</p></a>
                </div>
                <div class="col-sm-4 col-md-4 text-center">
                    <a href="#"><p>Atención cliente</p></a>
                    <a href="#"><p>Chat online</p></a>
                    <a href="#"><p>Preguntas frecuentes</p></a>
                    <a href="#"><p>Sube un evento</p></a>
                </div>
            </div>
        </div>
    </div>

    <footer class="row">
        <p class="text-center">
            <small>Copyright Belvi 2015 Todos los Derechos Reservados</small>
        </p>
    </footer>

{% endblock %}

{% block modals %}
<!-- Modal -->
    <div class="modal fade wizard" id="upload-event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body" style="overflow:hidden;">
                    <!-- mi wizard -->
                    <div id="rootwizard">
                        <ul>
                            <li><a href="#tab1" data-toggle="tab">GENERAL</a></li>
                            <li><a href="#tab2" data-toggle="tab">CALENDARIO</a></li>
                            <li><a href="#tab3" data-toggle="tab">UBICACION</a></li>
                            <li><a href="#tab4" data-toggle="tab">AMIGOS</a></li>
                            <li><a href="#tab5" data-toggle="tab">MULTIMEDIA</a></li>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab1">
                                <form>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="checkbox" />
                                        <label>Soy el organizador</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type="text" placeholder="Titulo del Evento" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">Categoría</div>
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                        <select>
                                            <option>Belleza y Salud</option>
                                            <option>Otro</option>
                                            <option>Otro</option>
                                            <option>Otro</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                        <select>
                                            <option>Belleza y Salud</option>
                                            <option>Otro</option>
                                            <option>Otro</option>
                                            <option>Otro</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                        <select>
                                            <option>Belleza y Salud</option>
                                            <option>Otro</option>
                                            <option>Otro</option>
                                            <option>Otro</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12 ">
                                       Puedes marcar hasta 3 distinas
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" placeholder="Hora de comienzo" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <textarea placeholder="Descripción del Evento"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="radio" name="modalidad"> Precio <input type="text">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="radio" name="modalidad"> Compartir Gastos <input type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <strong>Tipo de evento:</strong>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="radio" name="visibilidad"> Publico
                                        <input type="radio" name="visibilidad"> Privado
                                        <input type="radio" name="visibilidad"> Privado Visible
                                    </div>

                                </div>
                                </form>
                            </div>
                            <div class="tab-pane calendario" id="tab2">
                                <div class="row meses">
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        <a class="btn btn-default">Enero</a>
                                    </div>

                                </div>

                                <div class="row dias">
                                    <h5>Dias</h5>
                                    <ul style="overflow: hidden">
                                        <li><a class="btn left-row"></a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs" >1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn right-row "></a></li>
                                    </ul>
                                </div>
                                <div class="row plazas">
                                    <h5>Plazas</h5>
                                    <ul>
                                        <li><a class="btn left-row"></a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs" >1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn btn-default cuadrado-calendario hidden-xs">1</a></li>
                                        <li><a class="btn right-row "></a></li>
                                    </ul>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12"><input type="text"></div>
                                    <div class="col-xs-12"><input type="text"></div>
                                </div>
                            </div>
                            <div class="tab-pane ubicacion" id="tab3">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" placeholder="Situa el Evento" />
                                    </div>
                                    <div class="col-xs-12">
                                        <img class="img-responsive" src="{{ asset('public/img/map.png') }}">
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="text" placeholder="Localidad" />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4">
                                4
                            </div>
                            <div class="tab-pane" id="tab5">
                                5
                            </div>
                            <ul class="pager wizard pull-right" style="display:inline-block;">
                                <li class="previous first" style="display:none;"><a href="#">First</a></li>
                                <li class="previous"><a href="#">Atras</a></li>
                                <li class="next last" style="display:none;"><a href="#">Last</a></li>
                                <li class="next"><a href="#">Siguiente</a></li>
                            </ul>

                        </div>
                    </div>
                    <!--- fin del contenido --->

                </div>

            </div>
        </div>
    </div>



<div class="modal fade" id="rlogin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="col-md-6 col-lg-6"><h3 class="modal-title">Registro</h3></div>
                <h3 class="modal-title hidden-xs hidden-sm">Acceso</h3>
            </div>
            <div class="modal-body">
                <div class="row brand hidden-lg hidden-md">
                    <h3>Logotipo</h3>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 social-buttons hidden-md hidden-lg">
                        <a class="btn btn-info social-button gplus" href="#"><span
                                    class="icon fa fa-google-plus"></span><span
                                    class="text">Registrate con <b>Google+</b></span></a>
                        <a class="btn btn-info social-button fb" href="#"><span class="icon fa fa-facebook"></span><span
                                    class="text">Registrate con <b>Facebook</b></span></a>
                        <a class="btn btn-info social-button tw" href="#"><span class="icon fa fa-twitter"></span><span
                                    class="text">Registrate con <b>Twitter</b></span></a>
                        <a class="btn btn-info social-button in register-show" href="#"><span
                                    class="text">Registrarse</span></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 register-form hidden-xs hidden-sm">
                        <div class="col-xs-10 col-col-sm-10 col-md-10 col-lg-10 form-container">
                            <form action="{{ path('fos_user_registration_register') }}" method="post">
                                <div class="form-group">
                                    <input type="text" name="_username" id="user" placeholder="Usuario"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" placeholder="Correo electrónico"
                                           class="form-control">
                                </div>

                                <div class="form-group"><input type="password" name="password" id="password"
                                                               placeholder="Contraseña" class="form-control"></div>
                                <div class="form-group"><input type="password" name="password2" id="password2"
                                                               placeholder="Confirmar Contraseña" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Ingresa tu localidad en el mapa</label>
                                    <img class="img-responsive" src="{{ asset('public/img/map-register.png') }}"
                                         alt="Map">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="terms" id="terms">
                                    <label for="terms">Acepto las <a href="#">Condiciones de uso.</a></label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Registro">
                                    <button type="button"
                                            class="btn btn-lg btn-success btn-block back hidden-md hidden-lg">Atrás
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 login-form hidden-xs hidden-sm">
                        <div class="col-xs-10 col-col-sm-10 col-md-10 col-lg-10 form-container">
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="username" name="_username"
                                           placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" id="password" name="_password"
                                           placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"
                                           required="required"/>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="remember_div">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    <label for="remember_me">Recuérdeme</label>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="forgot_div">
                                    <a href="#">¿Olvidó su contraseña?</a>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit"
                                           name="_submit"
                                           value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                </div>
                            </form>
                            <hr/>

                            <div class="social-login">
                                <div class="form-container">
                                    <h3>Acceda con:</h3>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <a href="#" class="btn btn-lg btn-block btn-fb social-btn">
                                            <i class="fa fa-facebook"></i>
                                            <span> Facebook</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <a href="#" class="btn btn-lg btn-block btn-tw social-btn">
                                            <i class="fa fa-twitter"></i>
                                            <span> Twitter</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="#" class="btn btn-lg btn-block btn-gp social-btn">
                                            <i class="fa fa-google-plus"></i>
                                            <span> Google+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden-lg hidden-md">
                <div class="footer-option login-footer">
                    ¿Ya tienes cuenta? <a href="#" class="login-show">ENTRAR</a>
                </div>
                <div class="footer-option register-footer hidden-xs hidden-sm">
                    ¿Eres nuevo? <a href="#" class="register-show">REGISTRATE</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block default_scripts %}
    <script src="{{ asset('public/js/jquery.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap.js') }}"></script>
    <script src="{{ asset('public/plugins/appear/jquery.appear.js') }}"></script>
    <script src="{{ asset('public/js/account.form.js') }}"></script>
    <script src="{{ asset('public/plugins/perfect-scrollbar/perfect-scrollbar.jquery.js') }}"></script>
    <script src="{{ asset('public/plugins/wizard/jquery.bootstrap.wizard.min.js') }}"></script>
    <script src="{{ asset('public/js/base.js') }}"></script>
    <script>
        $(function () {
            $(window).scroll(function () {
                // set distance user needs to scroll before we fadeIn navbar
                if ($(this).scrollTop() > 600) {
                    $('.topbar').removeClass('transparent-topbar');
                    $('.topbar').addClass('noTransparent-topbar');
                    //alert('a');
                } else {
                    $('.topbar').removeClass('noTransparent-topbar');
                    $('.topbar').addClass('transparent-topbar');
                }
            });
        });

    </script>

{% endblock %}

{% block page_scripts %}{% endblock %}

<script>
    $(function () {
        $('#myTab a:last').tab('show')

        $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});

    });




</script>

</body>
</html>
