{% set user = app.user %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        {% block title %}
            Events
        {% endblock %}
    </title>
    {% block styles %}

        {% block default_styles %}
            <link rel="stylesheet" href="{{ asset('public/css/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('public/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('public/plugins/morphSearch/morphsearch.css') }}">
            <link rel="stylesheet" href="{{ asset('public/plugins/perfect-scrollbar/perfect-scrollbar.css') }}">
        {% endblock %}

        {% block page_styles %}
        {% endblock %}

    {% endblock %}

    {% block init_scripts %}
        <script src="{{ asset('public/js/modernizr.js') }}"></script>
        <script src="{{ asset('public/js/rem.js') }}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('public/js/html5shiv.js') }}"></script>
        <script src="{{ asset('public/js/respond.min.js') }}"></script>
        <![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="topbar">
    {% if app.user %}
        <a href="#" class="pull-right" id="profile">

            {% if user.profilepic %}
                <img src="{{ user.profilepic }}"/>
            {% else %}
                <img src="{{ asset('anonymous.png') }}"/>
            {% endif %}

            <span class="hs">Mi Perfil</span>
            <span class="caret-down"></span>
        </a>
    {% else %}
        <a data-toggle="modal" href="#rlogin-modal" class="pull-right">
            <span class="fa fa-user"></span>
            <span class="hs">Acceso</span>
        </a>
    {% endif %}

    <a data-toggle="modal" href="#upload-event-modal" class="pull-right">
        <span class="fa fa-plus"></span>
        <span class="hs">Sube un Evento</span>
    </a>

    <a href="#" class="pull-right" id="searchTop">
        <span class="fa fa-search"></span>
        <span class="hs">Busca tu Evento</span>
    </a>

</div>


<!-- Modal -->
<div class="modal fade" id="upload-event-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span></button>
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                    </li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
                    </li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <form action="#" method="post">
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="home"><input type="text" id="nombre de evento"
                                                                                      placeholder="Nombre de evento...">
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">B</div>
                        <div role="tabpanel" class="tab-pane" id="messages">C</div>
                        <div role="tabpanel" class="tab-pane" id="settings"><input type="submit" value="Create"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn">Siguiente</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rlogin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="col-md-6 col-lg-6"><h4 class="modal-title">Acceso</h4></div>
                <h4 class="modal-title hidden-xs hidden-sm">Registro</h4>
            </div>
            <div class="modal-body">
                <div class="row brand hidden-lg hidden-md">
                    <h3>Logotipo</h3>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 social-buttons hidden-md hidden-lg">
                        <a class="btn btn-info social-button gplus" href="#"><span
                                    class="icon fa fa-google-plus"></span><span
                                    class="text">Registrate con <b>Google+</b></span></a>
                        <a class="btn btn-info social-button fb" href="#"><span class="icon fa fa-facebook"></span><span
                                    class="text">Registrate con <b>Facebook</b></span></a>
                        <a class="btn btn-info social-button tw" href="#"><span class="icon fa fa-twitter"></span><span
                                    class="text">Registrate con <b>Twitter</b></span></a>
                        <a class="btn btn-info social-button in register-show" href="#"><span
                                    class="text">Registrarse</span></a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 register-form hidden-xs hidden-sm">
                        <div class="col-xs-10 col-col-sm-10 col-md-10 col-lg-10 form-container">
                            <form action="{{ path('fos_user_registration_register') }}" method="post">
                                <div class="form-group">
                                    <input type="text" name="_username" id="user" placeholder="Usuario"
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="email" id="email" placeholder="Correo electrónico"
                                           class="form-control">
                                </div>

                                <div class="form-group"><input type="password" name="password" id="password"
                                                               placeholder="Contraseña" class="form-control"></div>
                                <div class="form-group"><input type="password" name="password2" id="password2"
                                                               placeholder="Confirmar Contraseña" class="form-control">
                                </div>

                                <div class="form-group">
                                    <label>Ingresa tu localidad en el mapa</label>
                                    <img class="img-responsive" src="{{ asset('public/img/map-register.png') }}"
                                         alt="Map">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="terms" id="terms">
                                    <label for="terms">Acepto las <a href="#">Condiciones de uso.</a></label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Registro">
                                    <button type="button"
                                            class="btn btn-lg btn-success btn-block back hidden-md hidden-lg">Atrás
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 login-form hidden-xs hidden-sm">
                        <div class="col-xs-10 col-col-sm-10 col-md-10 col-lg-10 form-container">
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="username" name="_username"
                                           placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="password" id="password" name="_password"
                                           placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"
                                           required="required"/>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="remember_div">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                    <label for="remember_me">Recuérdeme</label>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="forgot_div">
                                    <a href="#">¿Olvidó su contraseña?</a>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit"
                                           name="_submit"
                                           value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
                                </div>
                            </form>
                            <hr/>

                            <div class="social-login">
                                <div class="form-container">
                                    <h3>Acceda con:</h3>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <a href="#" class="btn btn-lg btn-block btn-fb social-btn">
                                            <i class="fa fa-facebook"></i>
                                            <span> Facebook</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                        <a href="#" class="btn btn-lg btn-block btn-tw social-btn">
                                            <i class="fa fa-twitter"></i>
                                            <span> Twitter</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="#" class="btn btn-lg btn-block btn-gp social-btn">
                                            <i class="fa fa-google-plus"></i>
                                            <span> Google+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer hidden-lg hidden-md">
                <div class="footer-option login-footer">
                    ¿Ya tienes cuenta? <a href="#" class="login-show">ENTRAR</a>
                </div>
                <div class="footer-option register-footer hidden-xs hidden-sm">
                    ¿Eres nuevo? <a href="#" class="register-show">REGISTRATE</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% if user %}
    <div id="morphsearch" class="morphsearch">
        <div class="morphsearch-content">
            <div class="dummy-column text-center">
                {% if not user %}
                    <img src="{{ asset('anonymous.png') }}"/>
                {% else %}
                    <img src="{{ user.profilepic }}" class="img-circle"/>
                {% endif %}


                {% if user %}
                    <h2 id="username">{{ user.profiledetails }}</h2>
                {% else %}
                    <h2>You shouldn't be watching this.</h2>
                {% endif %}
            </div>
            <div class="dummy-column">
                <a class="dummy-media-object" href="{{ url('fos_user_profile_show') }}">
                    <h3>
                        <span class="fa fa-user"></span>
                        Mi Perfil
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-users"></span>
                        Amigos
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-ticket"></span>
                        Mis tickets
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-map-marker"></span>
                        Mis eventos
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-info-circle"></span>
                        Notificaciones
                        <span class="badge">5</span>
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-bookmark"></span>
                        Gestión
                    </h3>
                </a>
                <a class="dummy-media-object" href="#">
                    <h3>
                        <span class="fa fa-dollar"></span>
                        Finanzas
                    </h3>
                </a>
                <a class="dummy-media-object" href="{{ url('fos_user_security_logout') }}">
                    <h3 id="exit">
                        <span class="fa fa-sign-out"></span>
                        Salir
                    </h3>
                </a>
            </div>
        </div>
        <span class="morphsearch-close"></span>
    </div>
{% endif %}
<div class="overlay"></div>

{% block body %}

    {% block footer %}

        <div class="row social-blue">
            <ul class="list-inline text-center">
                <li>
                    <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
                <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>
                <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>
                <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>
                <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>
                <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                    </a></li>
                <li><a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
                                </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="row last">
            <div class="col-md-12">
                <div class="col-md-3 col-md-push-9 text-uppercase text-center">
                    <h3 class="visible-xs visible-sm">necesita ayuda</h3>

                    <div class="hidden-xs">
                        <div class="square"></div>

                        <h4 class="visible-xs visible-sm">pague seguro pendiente</h4>
                        <h4 class="visible-md visible-lg">pago seguro</h4>
                        <img src="{{ asset('public/img/9/paypal.png') }}" alt="">
                        <img src="{{ asset('public/img/9/cards.png') }}" alt="">
                    </div>
                </div>
                <div class="col-md-9 col-md-pull-3 words">
                    <div class="col-md-4">
                        <a href="#"><p>Quiénes somos</p></a>
                        <a href="#"><p>Prensa</p></a>
                        <a href="#"><p>Contacto</p></a>
                        <a href="#"><p>Blog</p></a>
                    </div>
                    <div class="col-md-4">
                        <a href="#"><p>Acerca de</p></a>
                        <a href="#"><p>Política privacidad</p></a>
                        <a href="#"><p>Aviso legal</p></a>
                        <a href="#"><p>Condiciones uso</p></a>
                    </div>
                    <div class="col-md-4">
                        <a href="#"><p>Atención cliente</p></a>
                        <a href="#"><p>Chat online</p></a>
                        <a href="#"><p>Preguntas frecuentes</p></a>
                        <a href="#"><p>Sube un evento</p></a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="row">
            <p class="text-center">
                <small>Copyright Belvi 2015 Todos los Derechos Reservados</small>
            </p>
        </footer>

        {#<div class="row social text-center">#}
        {#<ul class="list-inline">#}
        {#<li><a href="#"><span class="fa fa-2x fa-twitter"></span></a></li>#}
        {#<li><a href="#"><span class="fa fa-2x fa-facebook"></span></a></li>#}
        {#<li><a href="#"><span class="fa fa-2x fa-google-plus"></span></a></li>#}
        {#<li><a href="#"><span class="fa fa-2x fa-pinterest"></span></a></li>#}
        {#<li><a href="#"><span class="fa fa-2x fa-youtube"></span></a></li>#}
        {#<li><a href="#"><span class="fa fa-2x fa-instagram"></span></a></li>#}
        {#<li><a href="#"><span class="fa fa-2x fa-flickr"></span></a></li>#}
        {#</ul>#}
        {#</div>#}

        {#<footer class="row">#}
        {#<div class="col-xs-12 visible-xs">#}
        {#<div class="col-xs-4">#}
        {#<a href="#" class="square fblue">#}
        {#<span class="fa fa-2x fa-building"></span>#}

        {#<p>¿Quiénes somos?</p>#}
        {#</a>#}
        {#<a href="#" class="square fgreen"><span class="fa fa-2x fa-arrow-circle-up"></span>#}

        {#<p>Sube un evento</p>#}
        {#</a>#}
        {#<a href="#" class="square flyellow"><span class="fa fa-2x fa-phone"></span>#}

        {#<p>Atención al cliente</p>#}
        {#</a>#}
        {#<a href="#" class="square flgreen2"><span class="fa fa-2x fa-microphone"></span>#}

        {#<p>Prensa</p>#}
        {#</a>#}
        {#</div>#}
        {#<div class="col-xs-4">#}
        {#<a href="#" class="square fyellow"><span class="fa fa-2x fa-book"></span>#}

        {#<p>Acerca de</p>#}
        {#</a>#}
        {#<a href="#" class="square forange"><span class="fa fa-2x fa-quote-right"></span>#}

        {#<p>Blog</p>#}
        {#</a>#}
        {#<a href="#" class="square florange"><span class="fa fa-2x fa-file-text-o"></span>#}

        {#<p>Condiciones de uso</p>#}
        {#</a>#}
        {#<a href="#" class="square flpink"><span class="fa fa-2x fa-envelope"></span>#}

        {#<p>Contacto</p>#}
        {#</a>#}
        {#</div>#}
        {#<div class="col-xs-4">#}
        {#<a href="#" class="square fpurple"><span class="fa fa-2x  fa-legal"></span>#}

        {#<p>Aviso legal</p>#}
        {#</a>#}
        {#<a href="#" class="square fred"><span class="fa  fa-2x fa-question-circle"></span>#}

        {#<p>Preguntas frecuentes</p>#}
        {#</a>#}
        {#<a href="#" class="square flgreen"><span class="fa fa-2x  fa-file-text"></span>#}

        {#<p>Política de privacidad</p>#}
        {#</a>#}
        {#<a href="#" class="square flpurple"><span class="fa fa-2x  fa-comment"></span>#}

        {#<p>Chat online</p>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}


        {#<div class="col-sm-12 hidden-xs">#}
        {#<div class="col-sm-4">#}
        {#<a href="#" class="square fblue">#}
        {#<span class="fa fa-2x fa-building"></span>#}

        {#<p>¿Quiénes somos?</p>#}
        {#</a>#}
        {#<a href="#" class="square mid fgreen"><span class="fa fa-2x fa-arrow-circle-up"></span>#}

        {#<p>Sube un evento</p>#}
        {#</a>#}
        {#<a href="#" class="square mid flyellow"><span class="fa fa-2x fa-phone"></span>#}

        {#<p>Atención al cliente</p>#}
        {#</a>#}
        {#</div>#}
        {#<div class="col-sm-4">#}
        {#<div class="col-sm-6">#}
        {#<a href="#" class="square mid flgreen2"><span class="fa fa-2x fa-microphone"></span>#}

        {#<p>Prensa</p>#}
        {#</a>#}
        {#<a href="#" class="square mid fyellow"><span class="fa fa-2x fa-book"></span>#}

        {#<p>Acerca de</p>#}
        {#</a>#}
        {#<a href="#" class="square mid forange"><span class="fa fa-2x fa-quote-right"></span>#}

        {#<p>Blog</p>#}
        {#</a>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
        {#<a href="#" class="square flpink"><span class="fa fa-2x fa-envelope"></span>#}

        {#<p>Contacto</p>#}
        {#</a>#}
        {#<a href="#" class="square mid fpurple"><span class="fa fa-2x  fa-legal"></span>#}

        {#<p>Aviso legal</p>#}
        {#</a>#}
        {#</div>#}
        {#<div class="col-sm-12">#}
        {#<a href="#" class="square mid florange"><span class="fa fa-2x fa-file-text-o"></span>#}

        {#<p>Condiciones de uso</p>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-sm-4">#}
        {#<a href="#" class="square mid flpurple"><span class="fa fa-2x  fa-comment"></span>#}

        {#<p>Chat online</p>#}
        {#</a>#}
        {#<a href="#" class="square mid fred"><span class="fa  fa-2x fa-question-circle"></span>#}

        {#<p>Preguntas frecuentes</p>#}
        {#</a>#}
        {#<a href="#" class="square flgreen"><span class="fa fa-2x  fa-file-text"></span>#}

        {#<p>Política de privacidad</p>#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#<div class="col-xs-12 last">#}
        {#<p>Copyright Maracaibo 2015 Todos los Derechos Reservados</p>#}
        {#</div>#}
        {#</footer>#}

    {% endblock %}


{% endblock %}



{% block scripts %}

{% block default_scripts %}
    <script src="{{ asset('public/js/jquery.js') }}"></script>
    <script src="{{ asset('public/js/bootstrap.js') }}"></script>
    <script src="{{ asset('public/plugins/appear/jquery.appear.js') }}"></script>
    <script src="{{ asset('public/js/account.form.js') }}"></script>
    <script src="{{ asset('public/plugins/perfect-scrollbar/perfect-scrollbar.jquery.js') }}"></script>
    <script src="{{ asset('public/js/base.js') }}"></script>
{% endblock %}

    <script>
        $(function () {
            $('#myTab a:last').tab('show')
        })
    </script>

    {% block page_scripts %}
    {% endblock %}

{% endblock %}
</body>
</html>
